<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard de Contratos - {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header>
        <h1>Análise de Contratos - Interface SQLite</h1>
    </header>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p>&copy; 2025 Flask Dashboard</p>
    </footer>
</body>
</html>